.header-main {
    background-color: #202020;
    color: #bdbdbd;
}

.header-main__searchinput, .header-main__searchinput::placeholder {
    color: #bdbdbd;
}

.notifications__list {
    background-color: #303030;
    border-radius: 0px;
}

.notification__item:hover {
    background-color: #404040;
}

.notifications__list span {
    color: #bdbdbd;
}

.notifications__see-all, .gamer-preview__stats {
    background-color: #2979FF;
}

.notification__item:not(:last-child):after {
    content: none;
}

.notifications-displayed:after {
    border-bottom: 6px solid #303030;
}





.navigation-main {
    background-color: #303030;
}

.navigation-main li a {
    color: #bdbdbd;
}

.navigation-main__catalog-link a.current, .navigation-main__catalog-link a:hover, a, .publication-header__share-by {
    color: #2979FF;
}

.navigation-main__split-container {
    background-color: #303030;
}




.page-wrapper, .publication-card__dropdown-content--open {
    background-color: #202020;
}

.homepage__links ul a, h3, .gamer-card .gamer-card__pseudo, .publication-card__header-pseudo, .product .product__label, .publication-card__text, .homepage__publish-text, .homepage__publish-more-text, .gamer-card .gamer-card__pseudo, .publication-header__time-link, .gamer-preview__pseudo, .gamer-preview__level, .header-main__griditem--configo a, .header-main__griditem--notifications a {
    color: #bdbdbd;
}

.white-container, .publication-full__comments, .publication-full-page {
    background-color: #303030;
}

.gamer-card {
    background-color: #303030;
}

.publication-card__tag, .homepage__filters .homepage__filters-links:after {
    background-color: #2979FF;
    color: #bdbdbd;
}

.publication-card__footer-comment--dark, .publication-card__footer-comment:hover, .publication-header__time-link:hover {
    color: #808080;
}

.publication-card__tag .icon {
    background-color: #4187ff;
}

.publication-card__tag:hover {
    background-color: #619cff;
}

.publication-card__tag:hover .icon {
    background-color: #74a8ff;
}

a.product.publication-card__product, .publication-full__input {
    background-color: #202020;
    border: none;
}

.publication-card__medias {
    background-color: #303030;
    border: none;
}

.publication-card__footer, .publication-card__footer--reply, .publication-card__footer--full {
    border: none;
}

.publication-full .publication-card--reply {
    background-color: #202020;
    padding: 20px;
}





.report[data-v-a4b1b3ae] {
    background-color: #202020;
}

.infos-message {
    background-color: #303030;
    color: #bdbdbd;
}

.topForm__input, .topForm__select, .topForm__textarea {
    background-color: #303030;
}

.gamer-preview__details {
    background-color: #202020;
    border: 1px solid #202020;
}

.helper__close-btn, .helper__header-icon, .helper__header-text {
    background-color: #202020;
}

.helper__navigation {
    background-color: #303030;
}

.helper__header-text, .helper__navigation-items li a {
    color: #bdbdbd;
}

.helper__content {
    padding: 20px;
    margin: 0;
    background-color: #252525;
}

.helper__infos--list, .helper__textarea-new, .helper__textarea-new::placeholder {
    background-color: #202020;
    color: #bdbdbd;
}